REACT_APP_API_URL=http://localhost:5000/api/v1
REACT_APP_BACKEND_URL=http://localhost:5000
REACT_APP_FIREBASE_API_KEY=your_firebase_key
DISABLE_ESLINT_PLUGIN=true
TOKEN_PAYER_ROLE=LANDLORD
REACT_APP_TOKEN_PAYER_ROLE=LANDLORD
REACT_APP_LISTING_FEE_AMOUNT=5
REACT_APP_TENANT_PREMIUM_AMOUNT=10
